body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

    background-color: #e10600;
}

    background-color: #e10600;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 30px;
    padding: 40px;
}

article {
    flex: 3;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

aside {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: white;
    margin-top: 20px;
}
nav a.active {
    background-color: gold;
    color: black;
    font-weight: bold;
}